page-more {

    ion-content {
        background: #DFDCE3 !important;
    }

    .swiper-pagination-bullet-active {
        background: #F7B634;
    }

    .container {
        position: relative;
    }

    img {
        border-radius: 10px;
    }

    .titles {
        position: absolute;
        bottom: 6%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 24px;
        color: #DFDCE3;
    }

}
