page-episode {

    ion-content {
        background-color: #3A393B !important;
    }

    .player {
        margin-top: -0.35vh;
    }

    .style {
        color: #DFDCE3;
    }

    h6 {
        color: #DFDCE3;
        font-family: font-bold;
    }

    .date {
        font-family: font-medium;
        margin-top: -1vh;
    }

    p {
        font-family: font-regular;
        padding: 0 20px 0 0px;
    }

    .share {
        font-size: 35px;
        color: #F7B634;
    }

}
