page-news {

    ion-content {
        background: #DFDCE3 !important;
    }

    .border {
        border-radius: 10px 10px 10px 10px;
        box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.75);
    }

    ion-card-content {
        background-color: #F7B634 !important
    }

    ion-card-title {
        font-size: 20px !important;
        color: #3A393B !important;
    }

    ion-row {
        margin-top: -1vh;
    }

    .date {
        font-family: font-book;
    }

    ion-col {
        color: #3A393B !important;
    }

    ion-icon {
        font-size: 22px;
    }

}