page-tithing {

    ion-content {
        background-color: #3A393B !important;
    }

    h1 {
        color: #DFDCE3;
    }

    .text {
        color: #DFDCE3;
        font-family: font-regular;
        font-size: 14px;
        margin-top: 2vh;
    }

}
